.figure {
  display: flex;
  justify-content: flex-end;
}

.ribbon {
  width: 80px;
  height: 160px;
  border-left: 10px solid #73cca8;
  border-right: 3px;
}

.ribbon2 {
  height: 160px;
  border-right: 10px solid #73cca8;
  border-right: 3px;
}

.ribbon:last-child {
  border-left: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .ribbon {
    width: 40px;
    height: 180px;
  }
  .figure {
    justify-content: center;
  }
}
